<div class="card w-25">
  <img src="{{image_url}}" class="card-img-top img-fluid" alt="{{name}}" style="height: 200px; widht: auto; object-fit: scale-down">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h4>{{tagline}}</h4>
    <span>{{first_brewed}}</span>
    <p class="card-text">{{description}}</p>
  </div>
</div>



